**/go-ethereum/*

!**/go-ethereum/core
**/go-ethereum/core/*
!**/go-ethereum/core/state_processor.go*

!**/go-ethereum/core/types
**/go-ethereum/core/types/*
!**/go-ethereum/core/types/transaction.go

!**/go-ethereum/core/vm
**/go-ethereum/core/vm/*
!**/go-ethereum/core/vm/interpreter.go

data*/

*.log

password.txt